.footer{
    background: #610e0e;
    padding-top: 50px;
    padding-bottom: 15px;
}
.footer_logo i{
    color: #fff;
    font-weight: 400;
}
.footer_logo span{
    color: #fff;
    font-weight: 500;
    
}
.footer_logo-content{
    color: antiquewhite;
    margin-top: 15px;
    line-height: 30px;

}
.quick_link{
    border: none !important;
    background:transparent !important;
}
.quick_link a{
    color: antiquewhite;
    text-decoration: none;
    font-weight: 300;
    transition: 0.3s;
}
.quick_link a:hover{
    color: #f3c612;
}
.footer_link-title{
    color: #fff;
}
.office_info{
    color: antiquewhite;
    font-weight: 300;   
}
.newsletter{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 12px;
    border: 1px solid #2a0d0d;
    border-radius: 50px;
    background: #4c1a1a;
}
.newsletter input{
    background: transparent;
    color: #fff;
    border: none;
    outline: none;
}
.newsletter span{
    color: #fff;
}
.footer_bottom{
    border-top: 1px solid #ec0909;
}