
.header_top{
    padding: 10px 0px;
    background: #610e0e;
    color: #fff;
}

.header_top_left{
    display: flex;
    align-items: center;
    column-gap: 1rem;
}

.header_top_left span{
    font-size: 0.9rem;
}


.header_top_help{
    display: flex;
    align-items: center;
    column-gap: 0.4rem;
}

.header_top_help i{
    background: #fff;
    color: #610e0e;
    padding: 2px 4px;
    border-radius: 50px;
    font-size: 0.7rem;
}

.header_top_right a{
    text-decoration: none;
    color: #fff;
    font-size: .9rem;
}

.header_top_right a:hover{
    color: #fff;
}

.header_middle{
    padding: 20px 0px;
}

.logo h1 a span{
   font-size: 1.5rem;
}
.logo h1 a i{
    font-size: 2.2rem;
    
}
.logo h1 a{
    text-decoration: none;
    color: #610e0e;
    font-weight: 700;
}
.logo h1{
    line-height: 1.5rem;
}

.header_location span i{
    font-size: 2.2rem;
    color: #610e0e;
}

.header_location-content h4{
    font-size: 1.2rem;
    font-weight: 600;
    color: #610e0e;
}
.header_location-content h6{
    font-weight: 600;
}

.header_btn{
    background: #610e0e !important;
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius:6px;
}
.header_btn a{
    display: flex;
    align-items:center;
    column-gap:0.4rem;
    text-decoration: none;
    color: #fff;
    flex: end;
    font-size: 0.9rem;
}
.header_btn a:hover{
    color: #fff;
}
.header_navbar{
    padding: 15px 0px;
    background: #610e0e;
}
.mobile_menu i{
    color: #fff;
    font-size: 1.3rem;
    cursor: pointer;
}

.mobile_menu{
    display: none;
}

.menu{
    display: flex;
    align-items:center;
    column-gap: 2.7rem;
}
.nav_item{
    color: #fff;
    text-decoration: none;
}
.nav_item:hover{
    color: #fff;
}
.search_box{
    border: 1px solid #62aced;
    padding: 7px 12px;
    display: flex;
    align-items:center;
    border-radius: 50px;
    background-color: #3d1410;
}
.search_box input{
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
}

.search_box input ::placeholder{
    font-size: 0.8rem;
}
.search_box span i{
    color: #fff;
}
.nav_active{
    color: #f3c612;
}